parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    ignoreErrors:
        - '#Casting to string something that.s already string\.#'
        - '#Strict comparison using !== between null and array\|Zend_Config will always evaluate to true\.#'
