parameters:
    checkMissingIterableValueType: false
    level: 8
    paths:
        - ./
    excludePaths:
        - ./tests/*
        - ./vendor/*
    bootstrapFiles:
        - ./phpstan-bootstrap.php
    ignoreErrors:
        # call_user_func does accept an array as the callable
        -
            message: '#Parameter \#1 \$(function|callback) of function call_user_func expects callable\(\): mixed, array{string, .factory.} given\.#'
            path: './src/Zend/Log.php'
        -
            message: '#Parameter \#2 \$priority of method Zend_Log::log\(\) expects int, int\|string given\.#'
            path: './src/Zend/Log.php'
        -
            message: '#Property Zend_Log_Writer_Stream::\$_stream \(resource\|null\) does not accept resource\|false\.#'
            path: './src/Zend/Log/Writer/Stream.php'
        -
            message: '#Parameter \#1 \$(fp|stream) of function fwrite expects resource, resource\|null given\.#'
            path: './src/Zend/Log/Writer/Stream.php'
        # All of these are defensive coding in case an object isn't returned from _constructFromConfig (which is
        # possible, since it's a call_user_func return)
        -
            message: '#Else branch is unreachable because ternary operator condition is always true.#'
            path: './src/Zend/Log.php'
        -
            message: '#Parameter \#1 \$(argument|objectOrClass) of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given\.#'
            path: ./src/Zend/Log.php
        # There are checks before this, though probably needs an array check
        -
            message: '#Cannot cast array{}\|bool\|float\|int\|object\|string\|null to string\.#'
            count: 2
            path: ./src/Zend/Log/Formatter/Xml.php
